<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace= "info.easysafe.mappers.MsgMapper">

	<select id="listAllSendMsg" parameterType="string" resultType="MsgVO">
		select *
		from tbl_msg
		where senduser = #{user}
		and receiveuser != 'completedLvUp'
		order by regdate desc
	</select>
	
	<select id="listAllReceiveMsg" parameterType="string" resultType="MsgVO">
		select *
		from tbl_msg
		where receiveuser = #{user}		
		order by regdate desc
	</select>
	
	<select id="detailMsg" resultType="MsgVO">
		select *
		from tbl_msg
		where msgno = #{msgNo}
	</select>
	
	<insert id="sendMsg" parameterType="MsgVO">
		insert into tbl_msg (receiveuser, senduser, msg, msgtitle, readable)
		values (#{receiveUser}, #{sendUser}, #{msg}, #{msgTitle}, #{readable})
	</insert>
	
	<insert id="sendLvUp" parameterType="MsgVO">
		insert into tbl_msg (senduser, msg, msgtitle, readable, lvupfile)
		values (#{sendUser}, #{msg}, #{msgTitle}, 'N', #{lvUpFile})
	</insert>
	
	<delete id="deleteMsg">
		delete from tbl_msg
		where msgno = #{msgNo}
	</delete>
	
	<update id="readMsg" parameterType="MsgVO">
		update tbl_msg		
		set readable = #{readable}
		where msgNo = #{msgNo}
	</update>
	<!-- MSG 부분에 있지만 유저 테이블을 조회한다.. 사실 원래 유저 컨트롤러에 있어야 하는건가? -->
	<select id="searchUser" parameterType="string" resultType="UserVO">
		select uid
		from tbl_user
		where uid = #{findId}
	</select>
	<!-- 해당 아이디로 보낸 메시지 중에 받는사람이 없는 메시지, 즉 등업신청만 추려서 뽑는다 -->
	<select id="selectUpMsg" resultType="MsgVO" parameterType="string">
		select *
		from tbl_msg
		where receiveuser is null
		and senduser = #{uid}
	</select>
	<!-- 신청이 수락/거부되면 해당 메시지는 편집됨. 번호 정보가 추출되므로 그것으로 판별. -->
	<update id="completeUpMsg" parameterType="int">
		update tbl_msg set
		receiveuser='completedLvUp'
		where msgno=#{msgNo}
	</update>
</mapper>