<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace= "info.easysafe.mappers.UserMapper">

	<select id="listAccount" resultType="UserVO">
		
		select *
		from tbl_user
		order by no desc 
<!-- 		limit 0,10 -->
	</select>
	
	<select id="listSearch" resultType="UserVO">
		<![CDATA[
		select *
		from tbl_user
		where no >0
		]]>
			<include refid="search"></include>
		<![CDATA[
		order by no desc
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="listSearchCount" resultType="int">
		<![CDATA[
		select count(no)
		from tbl_user
		where no >0
		]]>
			<include refid="search"></include>
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'no'.toString()">
				and no = #{keyword}
			</if>
			<if test="searchType == 'ID'.toString()">
				and uid like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'username'.toString()">
				and uname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'email'.toString()">
				and umail like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'admin'.toString()">
				and ulevel = 'admin'
			</if>
			<if test="searchType == 'pro'.toString()">
				and ulevel = 'pro'
			</if>
			<if test="searchType == 'user'.toString()">
				and ulevel = 'user'
			</if>
			<if test="searchType == 'request'.toString()">
				and request = 'R'
			</if>
		</if>
	</sql>
	
	<select id="countPaging" resultType="int">
	<![CDATA[
		select count(no)
		from tbl_user
		where no >0
	]]>
	</select>
	
	
	<select id="searchAccount" resultType="UserVO">
		select uid, uname, umail, ulevel, regdate, no
		from tbl_user order by #{columnName}
	</select>
	
	<insert id="createAccount" parameterType="UserVO">
		insert into tbl_user (uid, upw, umail, uname, apikey) 
		values ( #{uid}, #{upw}, #{umail}, #{uname}, #{apikey})
	</insert>
	
	<select id="readAccount" resultType="UserVO">
		select a.*, filename as file
		from tbl_user a
	 	where uid = #{uid}
	</select>
	
	<select id="readEmail" resultType="UserVO">
		select umail from tbl_user where umail = #{umail}
	</select>
	
	<update id="updateAccount">
		update tbl_user set upw=#{upw}, uname=#{uname}, umail=#{umail}, uinfo=#{uinfo}, filename=#{file}
		where uid = #{uid}
	</update>
	
	<update id="updateAccountNoPic">
		update tbl_user set upw=#{upw}, uname=#{uname}, umail=#{umail}, uinfo=#{uinfo}
		where uid = #{uid}
	</update>
	
	<update id="addPic">
		update tbl_user set fileName = #{file}
		where no = #{no}
	</update>
	
	<update id="updateAccountpw">
		update tbl_user set upw = #{upw}
		where uid = #{uid}
	</update>
	
	<update id="updateLevel">
		update tbl_user set ulevel = #{ulevel}
		where no = #{no}
	</update>
	
	<delete id="deleteAccount">
		delete from tbl_user
		where no = #{no}
	</delete>
	
	<select id="login" resultType="UserVO">
		select a.*, filename as file
		from tbl_user a
		where uid= #{uid} and upw = #{upw}
	</select>
	<!-- 유저 전문가 신청 현황 부분 -->
	<!-- N: 일반 상태, R: 전문가신청상태, D: 완료되어 전문가 등업 상태 X: 해당없음 -->
	<!-- 전체 유저의 등업신청 조회 -->
	<select id="selectRequestList" resultType="string">
		select request
		from tbl_user
	</select>
	<!-- 특정 유저의 등업신청 조회 -->
	<select id="selectRequestOne" resultType="string" parameterType="string">
		select request
		from tbl_user
		where user=#{user}
	</select>
	<!-- 특정 유저가 신청시 현황 수정 -->
	<update id="updateRequest" parameterType="UserVO">
		update tbl_user 
		set request=#{request} 
		where uid=#{uid}
	</update>
	<!-- 신청 완료시 전문가로 등업 -->
	<update id="goPro" parameterType="UserVO">
		update tbl_user 
		set ulevel = #{ulevel}
		where uid=#{uid}
	</update>
	<!-- 유저 아이디와 이메일 존재여부 검증 -->
	<select id="chkAccount" parameterType="UserVO" resultType="UserVO">
		select uid, umail
		from tbl_user
		where uid=#{uid}
		and umail=#{umail}
	</select>
	<!-- 유저 아이디와 이메일로 판단하고 암호를 지정된 문자열로 교체 -->
	<update id="resetPass" parameterType="UserVO">
		update tbl_user 
		set upw=#{upw}
		where uid=#{uid}
		and umail=#{umail}
	</update>
</mapper>